@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    /* primary */
    --primary: 124, 34%, 39%;
    --primary-foreground: 0, 0%, 100%;
    --primary-border: 125, 33%, 35%;

    --primary-focus: 124, 34%, 39%;
    --primary-focus-foreground: 0, 0%, 100%;
    --primary-focus-border: 219, 65%, 50%;

    --primary-hover: 123, 34%, 37%;
    --primary-hover-foreground: 0, 0%, 100%;
    --primary-hover-border: 125, 34%, 33%;

    --primary-pressed: 123, 34%, 35%;
    --primary-pressed-foreground: 0, 0%, 100%;
    --primary-pressed-border: 219, 64%, 38%;

    --primary-disabled: 127, 38%, 74%;
    --primary-disabled-foreground: 0, 0%, 100%;
    --primary-disabled-border: 127, 38%, 74%;
    /* primary end */

    /* secondary */
    --secondary: 210, 29%, 97%;
    --secondary-foreground: 214, 7%, 43%;
    --secondary-border: 210, 15%, 84%;

    --secondary-focus: 210, 29%, 97%;
    --secondary-focus-foreground: 214, 7%, 43%;
    --secondary-focus-border: 219, 65%, 50%;

    --secondary-hover: 216, 19%, 95%;
    --secondary-hover-foreground: 214, 7%, 43%;
    --secondary-hover-border: 210, 15%, 84%;

    --secondary-pressed: 214, 18%, 92%;
    --secondary-pressed-foreground: 214, 7%, 43%;
    --secondary-pressed-border: 210, 15%, 84%;

    --secondary-disabled: 210, 29%, 97%;
    --secondary-disabled-foreground: 214, 8%, 59%;
    --secondary-disabled-border: 210, 29%, 97%;
    /* secondary end */

    /* danger */
    --danger: 210, 29%, 97%;
    --danger-foreground: 214, 6%, 43%;
    --danger-border: 210, 15%, 84%;

    --danger-focus: 210, 29%, 97%;
    --danger-focus-foreground: 210, 29%, 97%;
    --danger-focus-border: 219, 65%, 50%;

    --danger-hover: 356, 62%, 36%;
    --danger-hover-foreground: 0, 0%, 100%;
    --danger-hover-border: 354, 61%, 32%;

    --danger-pressed: 355, 65%, 30%;
    --danger-pressed-foreground: 0, 0%, 100%;
    --danger-pressed-border: 354, 62%, 28%;

    --danger-disabled: 0, 0%, 100%, 0;
    --danger-disabled-foreground: 214, 6%, 43%, 1;
    --danger-disabled-border: 0, 0%, 100%, 0;
    /* danger end */

    /* invisible */
    --invisible: 0, 0%, 100%, 0;
    --invisible-foreground: 214, 6%, 43%, 1;
    --invisible-border: 0, 0%, 100%, 0;

    --invisible-focus: 0, 0%, 100%, 0;
    --invisible-focus-foreground: 214, 6%, 43%, 1;
    --invisible-focus-border: 219, 65%, 50%;

    --invisible-hover: 216, 19%, 95%, 1;
    --invisible-hover-foreground: 214, 6%, 43%, 1;
    --invisible-hover-border: 0, 0%, 100%, 0;

    --invisible-pressed: 214, 18%, 92%, 1;
    --invisible-pressed-foreground: 214, 6%, 43%, 1;
    --invisible-pressed-border: 0, 0%, 100%, 0;
    /* invisible end */

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    /* primary */
    --primary: 117, 35%, 38%;
    --primary-foreground: 0, 0%, 100%;
    --primary-border: 121, 28%, 44%;

    --primary-focus: 117, 35%, 38%;
    --primary-focus-foreground: 0, 0%, 100%;
    --primary-focus-border: 221, 75%, 55%;

    --primary-hover: 117, 34%, 42%;
    --primary-hover-foreground: 0, 0%, 100%;
    --primary-hover-border: 119, 28%, 47%;

    --primary-pressed: 116, 34%, 45%;
    --primary-pressed-foreground: 0, 0%, 100%;
    --primary-pressed-border: 119, 27%, 50%;

    --primary-disabled: 115, 40%, 56%;
    --primary-disabled-foreground: 0, 0%, 100%;
    --primary-disabled-border: 115, 40%, 56%;
    /* primary end */

    /* secondary */
    --secondary: 216, 13%, 15%;
    --secondary-foreground: 214, 7%, 56%;
    --secondary-border: 213, 10%, 21%;

    --secondary-focus: 218, 12%, 19%;
    --secondary-focus-foreground: 214, 7%, 56%;
    --secondary-focus-border: 221, 75%, 55%;

    --secondary-hover: 218, 12%, 19%;
    --secondary-hover-foreground: 214, 7%, 56%;
    --secondary-hover-border: 213, 10%, 21%;

    --secondary-pressed: 218, 10%, 22%;
    --secondary-pressed-foreground: 214, 7%, 56%;
    --secondary-pressed-border: 213, 10%, 21%;

    --secondary-disabled: 216, 13%, 15%;
    --secondary-disabled-foreground: 214, 8%, 58%;
    --secondary-disabled-border: 216, 18%, 11%;
    /* secondary end */

    /* danger */
    --danger: 216, 13%, 15%;
    --danger-foreground: 214, 6%, 43%;
    --danger-border: 213, 10%, 21%;

    --danger-focus: 216, 13%, 15%;
    --danger-focus-foreground: 214, 6%, 43%;
    --danger-focus-border: 221, 75%, 55%;

    --danger-hover: 3, 58%, 41%;
    --danger-hover-foreground: 0, 0%, 100%;
    --danger-hover-border: 2, 47%, 46%;

    --danger-pressed: 4, 53%, 40%;
    --danger-pressed-foreground: 0, 0%, 100%;
    --danger-pressed-border: 3, 50%, 53%;

    --danger-disabled: 216, 13%, 15%;
    --danger-disabled-foreground: 214, 6%, 43%;
    --danger-disabled-border: 216, 18%, 11%;
    /* danger end */

    /* invisible */
    --invisible: 0, 0%, 100%, 0;
    --invisible-foreground: 214, 6%, 43%, 1;
    --invisible-border: 0, 0%, 100%, 0;

    --invisible-focus: 0, 0%, 100%, 0;
    --invisible-focus-foreground: 214, 6%, 43%, 1;
    --invisible-focus-border: 215, 75%, 55%;

    --invisible-hover: 216, 19%, 95%, 1;
    --invisible-hover-foreground: 214, 6%, 43%, 1;
    --invisible-hover-border: 0, 0%, 100%, 0;

    --invisible-pressed: 218, 10%, 22%, 1;
    --invisible-pressed-foreground: 214, 6%, 43%, 1;
    --invisible-pressed-border: 0, 0%, 100%, 0;
    /* invisible end */

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer components {
  .btn-invisible {
    @apply border rounded-md bg-invisible text-invisible-foreground border-invisible-border hover:bg-invisible-hover hover:text-invisible-hover-foreground hover:border-invisible-hover-border hover:cursor-pointer active:bg-invisible-pressed active:text-invisible-pressed-foreground active:border-invisible-pressed-border;
  }
  .btn-secondary {
    @apply border rounded-md bg-secondary text-secondary-foreground border-secondary-border hover:bg-secondary-hover hover:text-secondary-hover-foreground hover:border-secondary-hover-border hover:cursor-pointer active:bg-secondary-pressed active:text-secondary-pressed-foreground active:border-secondary-pressed-border;
  }
  .btn-danger {
    @apply border rounded-md bg-danger text-danger-foreground border-danger-border hover:bg-danger-hover hover:text-danger-hover-foreground hover:border-danger-hover-border hover:cursor-pointer active:bg-danger-pressed active:text-danger-pressed-foreground active:border-danger-pressed-border;
  }
  .btn-primary {
    @apply border rounded-md bg-primary text-primary-foreground border-primary-border hover:bg-primary-hover hover:text-primary-hover-foreground hover:border-primary-hover-border hover:cursor-pointer focus:bg-primary-focus focus:text-primary-focus-foreground focus:border-primary-focus-border focus:cursor-pointer active:bg-primary-pressed active:text-primary-pressed-foreground active:border-primary-pressed-border;
  }
}
